body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu-logo {
  margin-left: 10px;
}

.main-container {
  padding-top: 15px ;
}

.card .card-content {
  height: 100px;
}

.card .card-image img {
  height: 150px;
}

.row table tbody tr td img {
  width: 110px;
}

.active-route-link {
  background-color: brown;
}

.non-active-route-link {
  background-color: inherit;
}

.card .card-action .open-card-link {
  cursor: pointer;
}
